body {
  max-width: 600px;
  margin: 0 auto;
  font-size: 16px;
}

.one {
  background: pink;
  border: 3px solid blue;
  /* CHANGE ME */
  padding: 2rem;
  margin: 1rem;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
  margin-bottom: 0px;
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  float: right;
  width: 300px;
  /* CHANGE ME */
  padding: 2rem;
  margin-top: 3rem;
}